.feed{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
}

.morePosts{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

@media (max-width: 640px){
  .feed{
    grid-template-columns: repeat(2,1fr);
  }
}