.comments{
  overflow-y: auto;
  word-break: break-word;
  padding: 2rem 2rem;
}

.singlePost.comments{
  padding: 0px 0px 0px 15px;
}

.comments li{
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

@media(max-width: 1100px){
  .comments{
      min-height: 200px;
  }
}
