.post{
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background: white;
  display: grid;
  grid-template-columns: 576px minmax(auto, 600px);
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(.8);
  animation: scaleUp .3s forwards;
  justify-content: center;
}

.singlePost.post{
  grid-template-columns: 576px;
  height: auto;
}

@keyframes scaleUp{
  to{
    opacity: initial;
    transform: initial;
  }
}

.details{
  padding: 2rem 2rem 0 2rem;
}

.singlePost .details{
  padding: 1rem 0px 0px 0px;
}

.img{
  grid-row: 1/4;
}

.singlePost .img{
  grid-row: 1;
  border-radius: 0.4rem;
}


img{
  height: 576px;
  width: 576px;
}

@media(max-width: 1100px){
    .post{
      height: auto;
      max-height: calc(100vh - 12rem);
      overflow-y: auto;
      grid-template-columns: minmax(20rem, 40rem);
    }
    .singlePost.post{
      max-height: 1000px !important;
      max-width: 1000px !important;
      grid-template-columns: minmax(200px, 576px);
    }
    .img{
      grid-row: 1;
    }
    img{
      height: 300px;
    }
}

.author{
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a{
  text-decoration: underline;
}

.views::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url('../../Assets/views-black.svg')
}

.description{
  padding: 0 1rem;
  color:sienna;
  max-width: 100%;
  word-break: break-all;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.titlePost{
  font-family: var(--type-second);
  word-wrap: break-word;
  line-height: 1;
  font-size: 3rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
}

.titlePost::before{
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}



@media(max-width: 1100px){
   .titlePost{
      font-size: 2rem;
   }
}
